<h1><i class="medium material-icons">event</i> Bookings</h1>
<hr>
<br><br>
<div class="container">
    <div class="row">
        <div class="col s5 ">
            <div class="card">
                <div class="card-content">
                    <form #bookingform="ngForm" (ngSubmit)="addBooking(bookingform)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] = "bookingService.selectedBooking._id">
                       <div class="row">
                           <div class="input-field col s12">
                               <input type="text" name="user" #user = "ngModel" [(ngModel)] = "bookingService.selectedBooking.user"  placeholder="{{identity.email}}">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="company" #company = "ngModel" [(ngModel)] = "bookingService.selectedBooking.company" placeholder="Enter the company name">
                                   <!-- <p>Companies:</p><br>
                                    <div *ngFor="let company of companies">
                                        <p>
                                            <label>
                                                <input type="radio" name="company" #company = "ngModel" value="{{company.name}}"  [(ngModel)] = "bookingService.selectedBooking.company" checked />
                                                <span>{{company.name}}</span>
                                            </label>
                                        </p>
                                    </div>
                                -->
                            </div>
                             <div class="input-field col s12">
                                <input type="text" name="date" #date = "ngModel" [(ngModel)] = "bookingService.selectedBooking.date" placeholder="Enter the date">
                             </div>
                             <div class="input-field col s12">
                                <input type="text" name="time" #time = "ngModel" [(ngModel)] = "bookingService.selectedBooking.time" placeholder="Enter the time">
                             </div>
                             <div class="card-action">
                                 <div class="input-field col s12">
                                     <button class="btn red" (click) = "resetForm(bookingform)">Clear</button>
                                     <button class="btn right red">Save</button>
                                 </div>
                             </div>
                       </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table class="centered striped">
                <thead>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Operations</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let booking of bookingService.bookings">S
                        <td *ngIf='identity.email === (booking.user) || identity.role.indexOf("ROLE_ADMIN")>=0'>{{booking.user}}</td>
                        <td *ngIf='identity.email === (booking.user) || identity.role.indexOf("ROLE_ADMIN")>=0'>{{booking.company}}</td>
                        <td *ngIf='identity.email === (booking.user) || identity.role.indexOf("ROLE_ADMIN")>=0'>{{booking.date}}</td>
                        <td *ngIf='identity.email === (booking.user) || identity.role.indexOf("ROLE_ADMIN")>=0'>{{booking.time}}</td>
                        <td *ngIf='identity.email === (booking.user) || identity.role.indexOf("ROLE_ADMIN")>=0'>
                            <a (click) = "editBooking(booking)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click) = "deleteBooking(booking._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
