thead{
    background-color: red;
    color: white;
    border-radius:4px;
    border-color: black;
}
tr{
    border-radius:4px;
    border-color: black;
}

h1{
    text-align: center;
}

#contenedor{
    padding: 2em;
}