<h1>Companies</h1>
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #companyform="ngForm" (ngSubmit)="addCompany(companyform)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] = "companyService.selectedCompany._id">
                       <div class="row">
                           <div class="input-field col s12">
                               <input type="text" name="name" #name = "ngModel" [(ngModel)] = "companyService.selectedCompany.name" placeholder="Enter the company name">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="CIF" #CIF = "ngModel" [(ngModel)] = "companyService.selectedCompany.CIF" placeholder="Enter the company CIF">
                             </div>
                             <div class="input-field col s12">
                                <input type="text" name="address" #address = "ngModel" [(ngModel)] = "companyService.selectedCompany.address" placeholder="Enter the address">
                             </div>
                             <div class="input-field col s12">
                                <input type="text" name="city" #city = "ngModel" [(ngModel)] = "companyService.selectedCompany.city" placeholder="Enter the city">
                             </div>
                             <div class="input-field col s12">
                                <input type="text" name="sector" #sector = "ngModel" [(ngModel)] = "companyService.selectedCompany.sector" placeholder="Enter the sector">
                             </div>
                             <div class="card-action">
                                 <div class="input-field col s12">
                                     <button class="btn" (click) = "resetForm(companyform)">Clear</button>
                                     <button class="btn right">Save</button>
                                 </div>
                             </div>
                       </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Name</th>
                    <th>CIF</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Sector</th>
                    <th>Operations</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let company of companyService.companies">
                        <td>{{company.name}}</td>
                        <td>{{company.CIF}}</td>
                        <td>{{company.address}}</td>
                        <td>{{company.city}}</td>
                        <td>{{company.sector}}</td>
                        <td>
                            <a (click) = "editCompany(company)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click) = "deleteCompany(company._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

