<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container-fluid" id="cabecera">
      <br><br>
      <img src="../../../assets/logo.png" class="responsive-img" id="logo">
      <h1 class="header center teal-text text-lighten-2" id="titulo">Net Of Fixers</h1>
      <hr>
      <div class="row center">
        <h5 class="header col s12">Atendemos cualquier necesidad relacionada con el mantenimiento de tu hogar al instante y de manera fácil y sencilla</h5>
      </div>
      <hr>
      <br>
      <br>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="section" id="nosotros">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Profesionales</h5>

            <p class="light">Contamos con un gran equipo de profesionales con una dilata experiencia en el sector. Estos trabajadores han pasado unas exigentes pruebas de calidad por lo que aseguramos una gran calidad en el servicio.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Seguridad al usuario</h5>

            <p class="light">Con nuestra aplicación el usuario, tiene la seguridad de que en caso de algun problema, nuestra empresa se hace cargo de cualquier desperfecto ocasionado. Además de que tiene referencia de otros usuarios mediante valoraciones de otros usuarios de cómo es el trabajador que va a contratar</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Fácil uso</h5>

            <p class="light">Se trata de una aplicación fácil de manejar para el usuario. Además de que el usuario puede contratar un profesional contrastado en el sector con tan solo un click desde su teléfono movil u ordenador</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br><br><br>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container-fluid" id="manos">
        <div class="row center">
          <h3 class="header col s12 light">Tu hogar en las mejores manos</h3>
        </div>
      </div>
    </div>
  </div>