<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario de Contacto</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<section class="container">
		<div class="row">
		<h3 class="center-align">CONTACTO</h3>
			<article class="col s6 offset-s3">
				<form method="POST">
					<div class="input-field">
						<i class="material-icons prefix">perm_identity</i>
						<label for="nombre">Nombre</label>
						<input type="text" name="nombre" required>
					</div>

					<div class="input-field">
						<i class="material-icons prefix">person_pin</i>
						<label for="apellido">Apellido</label>
						<input type="text" name="apellido" required>
					</div>
					
					<div class="input-field">
						<i class="material-icons prefix">email</i>
						<label for="email">Email</label>
						<input type="email" name="email" required>
					</div>

					<div class="input-field">
						<i class="material-icons prefix">mode_edit</i>
						<label for="mensaje">Mensaje</label>
						<textarea name="mensaje" id="" rows="10" class="materialize-textarea"  length="140" required></textarea>
					</div>
					
					<p class="center-align">
						<button class="waves-effect waves-light btn red" type="submit"><i class="material-icons right">send</i>enviar</button>
					</p>

				</form>

			</article>
		</div>
	</section>

	<div class="container-fluid" id="info">
		<hr>
		<br><br>
		<div class="row">
			<div class="col s6">
				<iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.3727736062438!2d-6.009989384355163!3d37.40466304113908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126b8b8d549607%3A0xf6f214e62ecf3d8b!2sCalle%20Leonardo%20da%20Vinci%2C%207%2C%2041092%20Sevilla!5e0!3m2!1ses!2ses!4v1580836273299!5m2!1ses!2ses"
          width="450" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
			
			<div class="col s6">
				<h3>Información</h3>
				<ul>
					<li><i class="material-icons">email</i> joaquinbono.18@campuscamara.es</li>
					<li><i class="material-icons">stay_current_portrait</i> 635486072</li>
					<li><i class="material-icons">place</i> C/ Leonardo da Vinci, 7</li>
					<li><i class="material-icons">watch_later</i> 9:00-21:00h</li>
				  </ul>
			</div>
		</div>
		</div>
		
		
</body>
</html>
